
body{
   
    
    margin: 0px;
    padding: 0px;
   
 
 }

 .container{

    max-width: 1300px;
    margin: 0 auto;

 }
 .phandau{
 
   background-color:#272F54 ;
   width: 100%;
   min-height: 100px;
   
   
 }



 
 header{
 
     position: absolute;
     padding-left: 40%; 
     padding-top: 10px;
    
 }
 

 .bo{

    background-color:#272F54 ;
    min-height: 30px;
    border: 0px solid none;
    

}


nav>ul>li{

     display: inline-block;
    

}

nav>ul>li>a{

      display: block;
     

}

nav>ul>li>a{

    text-decoration: none;
     margin: 8px;
     color: white;

}









 
.home{

    position: absolute;
    right: 175px;
    top: 120px;

}

.timkiem{

   width: 350px;
   height: 19px;

}

.but{

  height: 24px;

}
